doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= title
    body
        table
            tr
                th ID
                th TITLE
                th AUTHOR
                th Content
            each book in books
                tr
                    td #{book.id}
                    td #{book.title}
                    td #{book.author}
                    td #{book.content}
                    td 
                        form(action="/books/" + book.id + "?_method=DELETE", method="post")
                            button(type="submit" onclick="submit") Delete

                    td
                        form(action="/books/" + book.id + "?_method=PUT", method='post')
                            label(for='title')
                            input#name.form-control(type='text' name='title' value=book.title required)

                            button(type='submit').btn Edit
                
